Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/MS_AsphaltCrackedV1
/Content/EF_Edie
/Content/Deko_MatrixDemo
/Content/CitySampleVehicles
/Content/MilitaryWeapSilver